@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.AspNetCore.Identity
@using Movies.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    
    <title>@ViewData["Title"] - Movies</title>
    <title>One Movies an Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/client/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/client/css/faqstyle.css" type="text/css" media="all" />
    <link href="~/client/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/client/css/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="~/client/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- List css -->
    <link rel="stylesheet" href="~/client/list-css/list.css" type="text/css" media="all" />
    <!-- //list -->
    <!-- pop-up -->
    <link href="~/client/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/client/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
   

    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
   


    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a asp-action="index" asp-controller="home"><h1>One<span>Movies</span></h1></a>
            </div>
            <div class="w3_search">
                <form asp-action="Search" asp-controller="Home" method="get" enctype="application/x-www-form-urlencoded" >
                    <input type="text" name="name" placeholder="Search" required="">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="w3l_sign_in_register">


@if (SignInManager.IsSignedIn(User))
{
    <ul>
        
        <li><a asp-action="index" asp-controller="movieadmin">Dashboard</a></li>
    </ul>
}
else
{
    <ul>
        <li><a asp-action="login" asp-controller="account">Login</a></li>
        <li><a asp-action="register" asp-controller="account">Register</a></li>
    </ul>

}
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genres <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-sm-8">
                                            <ul class="multi-column-dropdown">
                                                @foreach (Genre genre in ViewBag.Genres)
                                                {

                                                    <li><a asp-action="Genre" asp-controller="Home" asp-route-genreId="@genre.Id">@genre.Name</a></li>
                                                }
                                               
                                            </ul>
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            
                           
                            <li><a asp-action="AZ" asp-controller="Home">A - z list</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->
 
 


      @RenderBody()





    <!-- footer -->
    <div class="footer">
        <div class="container">
          
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2016 One Movies. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
         
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->


    <!-- js -->
    <script type="text/javascript" src="~/client/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script type="text/javascript" src="~/client/js/owl.carousel.js"></script>
    <script src="~/client/js/simplePlayer.js"></script>

    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/client/js/move-top.js"></script>
    <script type="text/javascript" src="~/client/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
   
    <!-- Bootstrap Core JavaScript -->
    <script src="~/client/js/bootstrap.min.js"></script>
    <script>
                $(document).ready(function () {
                    $(".dropdown").hover(
                        function () {
                            $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                            $(this).toggleClass('open');
                        },
                        function () {
                            $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                            $(this).toggleClass('open');
                        }
                    );
                });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
                $(document).ready(function () {
                    /*
                        var defaults = {
                        containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                        };
                    */

                    $().UItoTop({ easingType: 'easeOutQuart' });

                });
    </script>
    <!-- //here ends scrolling icon -->

  
 

                           
                                @RenderSection("Scripts", required: false)
</body>
 
</html>
